/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
html {
    font-size: 16px !important;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    box-sizing: border-box !important;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* ************* Customs ************* */

.container-ten-rows {
    height: 15rem !important;
    overflow: hidden;
    padding: 0 !important;
}

.ten-rows {
    height: 15rem !important;
    padding: 0.5rem 1rem !important;
}

/* Containers of type block, that contains themselves just text and just 1 line of text (e.g., <option></option>) */
.container-1row-font-size-normal {
    font-size: 1rem;
    height: 1.4rem;
    padding: 0 !important;
}

.font-size-normal {
    font-size: 1rem;
}

label {
    font-size: 1rem !important;
}

.float-left {
    float: left !important;
}
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
