@page
@model WPA.Pages.PasswordModel
@{
    string aa = null;
}

<div class="h1">Password Generator</div>
<form method="post">
    <div class="row">
       <button type="submit" class="btn-block">Generar</button>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="float-left">
                <input id="rdoUseExisting" type="radio" class="pull-left col-xs-1" name="existingPassw" />
            </div>
            <label for="rdoUseExisting" class="font-size-normal col-xs-11">Use an existing password (the new password will have the same length and the same symbols)</label>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="float-left">
                <input id="rdoDontUseExisting" type="radio" class="pull-left col-xs-1" name="existingPassw" />
            </div>
            <label for="rdoDontUseExisting" class="font-size-normal col-xs-11">Don't use an existing password</label>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="form-group">
                <input id="txtExistingPassw" type="text" class="form-control" asp-for="InputValue" onchange="GetPassword();" />
            </div>
            <div class="form-group">
                <input id="txtNewPassw" type="text" class="form-control" asp-for="OutputValue" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <select id="selLength" class="form-control" asp-for="Length">
                    @{ for (int i = 0; i < 128; i++)
                        {
                            int j = i + 1;
                            <option class="container-1row-font-size-normal">@j</option>
                        }
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group container-ten-rows">
                <select id="selSettings" multiple class="form-control ten-rows" asp-for="Settings">
                    <option class="container-1row-font-size-normal">Include Symbols ( e.g. $%&! )</option>
                    <option class="container-1row-font-size-normal">Include Numbers ( e.g. 123456 )</option>
                    <option class="container-1row-font-size-normal">Include Lowercase Characters ( e.g. abcdefgh )</option>
                    <option class="container-1row-font-size-normal">Include Uppercase Characters ( e.g. ABCDEFGH )</option>
                    <option class="container-1row-font-size-normal">Exclude Similar Characters ( e.g. i, l, 1, L, o, 0, O )</option>
                    <option class="container-1row-font-size-normal">Exclude Ambiguous Characters ( { } [ ] ( ) / \ ' " ` ~ , ; : . < > )</option>
                    <option class="container-1row-font-size-normal">Generate On Your Device ( do NOT send across the Internet )</option>
                    <option class="container-1row-font-size-normal">Auto-Select ( select the password automatically )</option>
                    <option class="container-1row-font-size-normal">Save My Preference ( save all the settings above for later use )</option>
                    <option class="container-1row-font-size-normal">Load My Settings Anywhere - URL to load my settings on other computers quickly</option>
                </select>
            </div>
        </div>
    </div>

</form>

<script>
    function GetPassword() {
        alert("POdemos implementar desde aqui el POST?");
    }
</script>